<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	 xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd"
	>
	<context:property-placeholder location="classpath*:/zkxp.properties" ignore-resource-not-found="true" ignore-unresolvable="true" />
	
	<context:component-scan base-package="cn.uuf" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<mvc:annotation-driven validator="validator"/>
	
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
	    <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
		<property name="validationMessageSource" ref="messageSource" />
	</bean>
	
	<bean name="defaultViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/WEB-INF/page/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
	</bean>
		
	 <!-- 静态资源的处理 -->
	 <mvc:default-servlet-handler/>
	 <mvc:resources mapping="/resources/framework/**" location="/WEB-INF/resources/framework/**"/>
	 <mvc:resources mapping="/resources/wechat/**" location="/WEB-INF/resources/wechat/**"/>
	 <!-- 自定义异常处理 -->
	 <bean class="cn.uuf.stu.framework.common.CustomBusinessExceptionResolver">
	 	<property name="defaultErrorView" value="/admin/common/error"></property>
	 </bean>
	 <mvc:interceptors>
	 	<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/admin/login"/>
			<mvc:exclude-mapping path="/admin/common/captcha"/>
			<bean id="resourceButtonIntercepter" class="cn.uuf.stu.framework.common.ResourceButtonIntercepter"></bean> 	
	 	</mvc:interceptor>
	 	<mvc:interceptor>
			<mvc:mapping path="/admin/**"/>
			<mvc:exclude-mapping path="/admin/common/captcha"/>
			<bean id="logIntercepter" class="cn.uuf.stu.framework.common.LogIntercepter"></bean>	 	
	 	</mvc:interceptor>
	 	<mvc:interceptor>
			<mvc:mapping path="/wechat/**"/>
			<mvc:exclude-mapping path="/wechat/wechatcoreconnect"/>
			<mvc:exclude-mapping path="/wechat/wechatcoreconnect/index"/>
			<mvc:exclude-mapping path="/wechat/wechatcoreconnect/login"/>
			<mvc:exclude-mapping path="/wechat/wechatcoreconnect/toLogin"/>
			<bean id="wechatIntercepter" class="cn.uuf.wechat.interceptor.WechatIntecepter"></bean>	 	
	 	</mvc:interceptor>
	 </mvc:interceptors>
	 
	<!-- shiro 注解 -->
	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>
	<bean
		class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
			<property name="securityManager" ref="securityManager" />
	</bean>
</beans>	